/*!@nkb "username":"minntibunni","domain":"","rss":"","overflow":false,"readonly":false */
.site-box {
    text-align: center;
    color: #b08271;
    background: url("//minntibunni.nekoweb.org/assets/images/site/spots-background.png");
    background-size: 30px;
    font-size: 12px;
    border: 3px solid #84c6b5;
    border-radius: 8px;

}

.site-box .sitefeature .screenshot {
  content: url("//minntibunni.nekoweb.org/assets/images/site/sitebox-bg.png");
}

.sitefeature {
    border-width: 0px;
}

.site-box>a>p {
  color: #84c6b5;
  font-family: monospace;
}

.site-box>a>span {
    display: none;
}

.post-box {
    color: #634c53;
    background-color: #fff2cc;
    border: 4px solid #ecbfa6;
    border-radius: 5px;
    padding: 15px;
    font-weight: 400
}

.post-box .post-title {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 700
}

.follow, .following {
	background: none;
	border: 2px solid #459c95;
	border-radius: 15px;
	color: #459c95;
	padding: 4px 10px;
	cursor: pointer;
	font-family: "Courier New", sans-serif;
	font-size: 13px;
	margin: 0 auto;
	display: block;
	font-weight: bold;
}